body {
background-color:darkgrey;
width: 1000px;
}

.row {
width: 100%;
height: 180px;
clear: both;
border-style: solid;
border-width: 0px;
border-color: red;
}

.cell, .rightcell {
width:150px;
padding-top:15px;
padding-bottom:15px;
margin-left: 5px;
margin-right: 5px;
float:left;
background-color:grey;
text-align:center;
}

.rightcell {
	float:right;
}

.map {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -4;
}

.gameboard {
	height: 720px;
	width: 1000px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.marker {
	width: 30px;
	position: absolute;
	z-index: 0;
	text-align:center;
	padding: 9px 0px 2px 0px;
	background-color:grey;
}

.val {
	color: white;
}

.cost {
	color: orange;
}

.accept, .cancel {
	color: green;
	float: left;
	width:50%;
}

.cancel {
	color: red;
}

.payBar, .upBar {
	width: 100%;
	height: 2px;
	background-color: yellow;
}
.upBar {
	background-color: orange;
}

.gamecanvas {
	position: fixed;
	z-index:1;
	top:0px;
	left:0px;
}